body {
	background-image: url("../images/banner.jpg");
}

#Nav {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 700px;
}

.NavItem {
	float: left;
}

.NavLink {
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	width: 150px;
	background-color: gray;
	padding: 10px;
}

.NavLink:hover {
	background-color: #1C1D49;
	border: 2px solid black;
}

.TitleContainer {
	text-align: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.Title {
	display: inline;
	color: white;
	font-size: 48pt;
}

.SubTitle {
	border-bottom: 3px solid black;
}

.MainSection {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
	padding: 10px;
	background-color: white;
	margin-top: 30px;
}

.ProfilePic {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	max-height: 500px;
	border: 3px solid #3a4731;
}

.CornerPic {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	padding: 10px;
	max-width: 200px;
	max-height: 200px;
}

@media screen and (max-width: 1200px) {
	.CornerPic {
		max-width: 100px;
		max-height: 100px;
	}
}

@media screen and (max-width: 650px) {
	.ProfilePic {
		width: 200px
	}
	
	.CornerPic {
		max-width: 50px;
		max-height: 50px;
	}
}
