#ContactContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#ContactPicture {
    width: 200px;
    padding: 20px 40px;
}

#ContactInfo {
    text-align: justify;
    padding: 50px;
    width: 600px;
    text-indent: 50px;
}