#ContactPicture {
    max-width: 200px;
    padding: 20px 40px;
}

#ContactInfo {
    text-align: justify;
    padding: 50px;
    max-width: 600px;
    text-indent: 50px;
}

#PictureContainer {
    float: right;
}

#Content:after {
    content: "";
    display: table;
    clear: both;
}

#BottomLine {
    width: 998px;
    margin: 0px;
    padding: 0px;
}