#Footer {
	width: 100%;
	height: 65px;
	margin-left: auto;
	margin-right: auto;
}

#Footer ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	height: 65px;
	list-style-type: none;	
}

#Footer li {
	align-self: center;
	padding: 20px;
}