#Forum {
    padding: 10px;
}

.ForumTitle {
    font-size: 30px;
}

#ForumNav {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    text-align: left;
}

#ForumNav > ul {
    list-style: none;
}

#ForumNav > ul > li {
    float: left;
    font-size: 0.7rem;
    list-style: none;
    max-width: 30%;
    /*padding-right: 10px;*/
    position: relative;
}

#ForumNav > ul > li > a {
    text-decoration: none;
    color: #6e6859;
}

.Cat {
    
}

.CatName {
    font-size: 15px;
    background-color: darkgray;
    padding: 5px;
    margin: 10px 0px;
}

.SubCat {
    
}

.SubCat:hover {
    background-color: lightslategray;
}

.SubCatName {
    font-size: 14px;
    padding-left: 5px;
}

.SubCatDescription {
    font-size: 11px;
    padding-left: 5px;
}

hr.ForumLine {
    width: 100%;
    border-color: dimgray;
}

.ForumLink {
    text-decoration: none;
    color: #000000;
}