#Forum {
    padding: 10px;
}

.ForumCat {
    font-size: 15px;
    background-color: darkgray;
    padding-left: 5px;
}

.ForumSubCat {
    font-size: 14px;
    padding-left: 5px;
}

.SubCatDescription {
    font-size: 11px;
    padding-left: 5px;
}

hr.ForumLine {
    width: 90%;
    border-color: dimgray;
}