#Forum {
    padding: 10px;
}

.ForumTitle {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#ForumNav {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    text-align: left;
}

#ForumNav > ul {
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

#ForumNav > ul > li {
    float: left;
    font-size: 0.7rem;
    list-style: none;
    max-width: 30%;
    position: relative;
}

#ForumNav > ul > li > a {
    padding-left: 10px;
    text-decoration: none;
    color: #6e6859;
}

.Cat {
    
}

.CatName {
    font-size: 15px;
    background-color: darkgray;
    padding: 5px;
    margin: 10px 0px;
}

.SubCat {
    
}

.SubCat:hover {
    background-color: lightslategray;
}

.SubCatName {
    font-size: 14px;
    padding-left: 5px;
}

.SubCatDescription {
    font-size: 11px;
    padding-left: 5px;
}

.PostContent {
    padding: 10px;
    flex-wrap: wrap;
}

hr.ForumLine {
    width: 100%;
    border-color: dimgray;
}

.ForumLink {
    text-decoration: none;
    color: #000000;
}

.ContentContainer {
    display: flex;
    flex-direction: row;
    border: 2px #5F9EA0 solid;
    align-items: stretch;
}

.User {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    border-right: 2px #5F9EA0 solid;
    max-width: 300px;
    min-width: 300px;
    height: inherit;
    margin: 0px;
}

.PostInfo {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .User {
        max-width: 150px;
        min-width: 150px;
        font-size: 12px;
    }
    
    textarea {
        width: 25em;
    }
}