#TwitchVid {
	padding: 7px;
}

#TwitchChat {
	padding: 7px;
}

#MainVideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#FeatVideosDiv {
	text-align: center;
}

.FeatVideos {
	display: inline;
	height: 188px;
	width: 250px;
	padding: 10px;
}

/*
.VideoImage {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 480px;
}

.VideoLink {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 480px;
	max-height: 360px;
}

.VideoLink:hover:before {
	display: inline-block;
	content: '';
	background-image: url("../images/play_button.png");
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	width: 480px;
	height: 360px;
} */