#TwitchVid {
    height: 378px;
    width: 620px;
	padding: 7px;
}

#TwitchChat {
	padding: 7px;
}

#MainVideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    width: 880px;
    height: 495px;
}

#FeatVideosDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;    
}

.FeatVideos {
    height: 188px;
	width: 250px;
	padding: 10px;
    margin: auto;
}

/*#FeatVideosDiv {
	text-align: center;
}*/

/*.FeatVideos {
	display: inline;
	height: 188px;
	width: 250px;
	padding: 10px;
}*/

.VideoLink:hover:before {
	display: inline-block;
	content: '';
	background-image: url("../images/play_button.png");
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	width: 260px;
	height: 198px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 770px) {
    #MainVideo {
        width: 550px;
        height: 309px;
    }
    
    #TwitchVid {
        width: 300px;
        height: 183px;
    }
}

@media screen and (max-width: 600px) {
    #MainVideo {
        width: 300px;
        height: 169px;
    }
}