body {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #DEDEFF;
}

#Content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

hr {
	border-color: #4C4C4C;
}

.Title {
	color: #5F9EA0;
	text-align: center;
	font-weight: normal;
}