input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

input.ng-valid.ng-dirty {
    border-color: #78FA89;
}

form {
    display: table;
    padding:1em;
	border:1px solid #eee;
}

div {
    display: table-row;
    padding: 10px;
}

label {
    display: table-cell;
    float: left;
    text-align: right;
}

input {
    display: table-cell;
	padding: 0.15em;
	/*width: 100%;*//*10em;*/
    /*clear: both;*/
	border: 1px solid #DDD;
	background: #FAFAFA;
	font: bold 0.95em arial, sans-serif;
	-moz-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
}

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 

#Results {
    color: #5F9EA0;
    padding: 10px;
}