<section>
    <aside id="PictureContainer">
        <img id="ContactPicture" src="images/contact-self-pic.jpg" />
    </aside>
    <h1 class="Title">Contact</h1>
    <p id="ContactInfo">
        Hello! My name is Grant Merrill, but here I am known as Kacologo! I am a gamer in many respects. I mainly enjoy recording Let's plays of my
        favorite games and streaming speedruns of them as well. Bringing enjoyment through commentary and gameplay is my goal. Hopefully this is
        accomplished. Enjoy yourself here on this website. If you have any questions for me or want to collaborate with me, please contact me at:
        <a href="malito:kacologo.business@gmail.com">kacologo.business@gmail.com</a> Bye my friends!!
    </p>
</section>