<footer id="Footer">
    <ul>
        <li><a href="https://youtube.com/user/kacologo"><img src="images/Youtube.png" target="_blank" /></a></li>
        <li><a href="https://twitch.tv/kacologo"><img src="images/Twitch.png" target="_blank" /></a></li>
        <li><a href="https://facebook.com/kacologo"><img src="images/Facebook.png" target="_blank" /></a></li>
        <li><a href="https://twitter.com/kacologogames"><img src="images/Twitter.png" target="_blank" /></a></li>
        <li><a href="https://google.com/+kacologo92"><img src="images/Google-plus.png" target="_blank" /></a></li>
    </ul>
</footer>