<section>
    <iframe id="MainVideo" ng-src="{{mainVideo[0].info[1]}}" frameborder="0" width="880" height="495"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <h1 class="Title">{{videoTitle}}</h1>

    <div id="FeatVideosDiv">
        <img class="FeatVideos" ng-repeat="video in videos" ng-src="{{video.info[0]}}" ng-click="changeMainVid(video.id)" />
    </div>

    <hr />

    <h1 class="Title">{{twitchTitle}}</h1>

    <iframe id="TwitchVid" src="http://www.twitch.tv/kacologo/embed" frameborder="0"
            scrolling="no" height="378" width="620"></iframe>

    <iframe id="TwitchChat" src="http://www.twitch.tv/kacologo/chat?popout=" frameborder="0"
            scrolling="no" height="400" width="345"></iframe>
</section>